/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar_buttons
 {
   vertical-align: middle;
   padding: .5rem 1rem;
}

.nav_bg
{
  background: #9fcf31;

}
.nav_coloring
{
  color: white;
=======

#landing_header {
    z-index: 1;
    position: relative;
    text-align: center;
    margin: 0;
    height: 92.8%;
    background-color: #006666;

}

html,
body {
  height: 100%;
  margin: 0

}

#landing_header h1 {
    color: #fff;
    text-shadow: 5px 5px 8px black;
    padding-top: 10vh;
}

#landing_header h2 {
    color: #fff;
    text-shadow: 5px 5px 8px black;
    padding-top: 10vh;
}

#landing_header .btn-transparent {
    margin-top: 10vh;
    background: transparent;
    color: #F2F2F2;
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    border: 2px solid white;
}

#landing_header .btn-transparent:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);

}


.profiles{
  display: grid;
  text-align: center;
  margin-left: 30px;


}
