// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.cart_qty_field
{
  width: 50px;
}

.item_box
{
  background-color: #9fcf31;
  text-align: center;
  border-radius: 10px;

}
