// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// This is the index
.container_grid
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 20px;
  color: white;
}
.item_box
{
  background-color: #9fcf31;
  text-align: center;
  border-radius: 10px;

}
.item_box div
{
  font-size: 1.5em;
  padding: 0.2em;
}
.item_img
{
  background: white;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  border: 5px solid white ;
}

// This is for the show
.item_show
{
  background-color: #9fcf31;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  border-radius: 30px;
  padding: 30px 0;

}
.flex_box
{
  display: flex;
  width: 100%;
  padding: 0 10%;
  // flex-direction: row;
  // flex-flow: row wrap;
  // align-self: center;
  justify-content: space-around;
}
.image
{
  border-radius: 10px;

}
