// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container_grid
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 20px;
}
.item_box
{
  background-color: lightblue;
  text-align: center;
}
.item_box div
{
  font-size: 1.5em;
  padding: 0.2em;
}
