#landing_header{
  text-align: center;
  margin-top: 20%;
  background-color: white;
  opacity: 0.85;
  color: black;
  margin: 0 30%;
  border-radius: 30px;

}
// body {
//

//    height: 100%;
//
// body{
//   height: 100%;
//   overflow: auto;
// }

// body
// {
//   background: {
//     image: asset-url("julian-hanslmaier-77279-unsplash.jpg");
//   }
// }
