<p id="notice"><%= notice %></p>

<p style="text-align: center;">
  <%= link_to 'New Item', new_item_path, class: "btn btn-warning btn-lg" %>
</p>



<%= render 'category_bar' %>


<div class="container_grid">
    <% @items.each do |item| %>
    <%= render 'item_display', item: item %>
    <% end %>
</div>
