<p id="notice"><%= notice %></p>




<%= render 'category_bar' %>


<div class="container_grid">
    <% @items.each do |item| %>
    <%= render 'item_display', item: item if item.visible == true %>
    <% end %>
</div>
