<!-- <% content_for :top_content do %>

      <h1>Welcome!</h1>
      <p>Register to get started.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>

<% end %> -->

<div id="landing_header">
 		<h1>Welcome to Farmer's Market</h1>
 		<h2>Australia's Best Bendy Bananas</h2>
		<p>
      <%= link_to 'View Produce', items_path, class: "btn btn-lg btn-transparent" %>
    </p>
</div>
